node_modules
dist
out
.idea
build
!build/entitlements.mac.plist
!build/icon.icns
!build/icon.ico
!build/icon.png
.vscode
.DS_Store
.eslintcache
*.log*
.logs
.context
public/monaco
src/renderer/public/monaco
img*.png
